<h1>The Parent Component</h1>

<p>This will be affected by Child component CSS rule</p>

<hr />

<button class="btn btn-danger" (click)="toggle = !toggle">Toggle</button>

<input type="text" [(ngModel)]="companyName" />

<app-life-cycle *ngIf="toggle" [company]="companyName">
  <header>
    <h1 #heading>Header Info</h1>
  </header>
</app-life-cycle>

<hr />

<app-child [company]="companyName" (childEvent)="onChildEvent($event)">
  <header>Header info</header>
  <main>Main Section</main>
  <footer>Footer</footer>
</app-child>
