<div class="row">
  <div class="offset-2 col-8">
    <div class="card">
      <div class="card-header">
        <p class="display-4 text-center">Auth Form</p>
      </div>
      <div class="card-body">
        <form [formGroup]="authForm" (ngSubmit)="onLogin()">
          <!-- username -->
          <div class="form-floating mb-3">
            <input
              type="text"
              class="form-control"
              name="username"
              id="username"
              placeholder=""
              [formControl]="username"
            />
            <label for="username">Username:</label>

            <div *ngIf="username.touched && username.invalid">
              <p
                *ngIf="username.hasError('required')"
                class="alert alert-danger"
              >
                - Username is mandatory field
              </p>
              <p *ngIf="username.hasError('email')" class="alert alert-danger">
                - Username should be in email format
              </p>
            </div>
          </div>
          <!-- password : mandatory field and 6 characters long -->
          <div class="form-floating mb-3">
            <input
              type="password"
              class="form-control"
              name="password"
              id="password"
              placeholder=""
              [formControl]="password"
            />
            <label for="password">Password:</label>

            <div *ngIf="password.touched && password.invalid">
              <p
                class="alert alert-danger"
                *ngIf="password.hasError('required')"
              >
                - Password is madatory field
              </p>
              <p
                class="alert alert-danger"
                *ngIf="password.hasError('minlength')"
              >
                - Password must have at least 6 characters
              </p>
              <p
                class="alert alert-danger"
                *ngIf="password.hasError('exclamation')"
              >
                - Password must have exclamation sign
              </p>
            </div>
          </div>
          <!-- button -->
          <div class="row">
            <div class="col-6">
              <div class="d-grid">
                <button
                  class="btn btn-primary"
                  [disabled]="!authForm.valid"
                  type="submit"
                >
                  Login
                </button>
              </div>
            </div>
          </div>

          <pre>Form Status : {{ authForm.status }}</pre>
        </form>
      </div>
    </div>
  </div>
</div>
