<div class="row">
  <div class="offset-2 col-8">
    <div class="card">
      <div class="card-header">
        <p class="display-4 text-center">Auth Form</p>
      </div>
      <div class="card-body">
        <form [formGroup]="authForm" (ngSubmit)="onLogin()">
          <!-- username -->
          <div class="form-floating mb-3">
            <input
              type="text"
              class="form-control"
              name="username"
              id="username"
              placeholder=""
              formControlName="username"
            />
            <label for="username">Username:</label>

            <div *ngIf="username.touched && username.invalid">
              <p
                *ngIf="username.hasError('required')"
                class="alert alert-danger"
              >
                - Username is mandatory field
              </p>
              <p *ngIf="username.hasError('email')" class="alert alert-danger">
                - Username should be in email format
              </p>
            </div>
          </div>
          <!-- password : mandatory field and 6 characters long -->
          <div class="form-floating mb-3">
            <input
              type="password"
              class="form-control"
              name="password"
              id="password"
              placeholder=""
              [formControl]="password"
            />
            <label for="password">Password:</label>

            <div *ngIf="password.touched && password.invalid">
              <p
                class="alert alert-danger"
                *ngIf="password.hasError('required')"
              >
                - Password is madatory field
              </p>
              <p
                class="alert alert-danger"
                *ngIf="password.hasError('minlength')"
              >
                - Password must have at least 6 characters
              </p>
              <p
                class="alert alert-danger"
                *ngIf="password.hasError('exclamation')"
              >
                - Password must have exclamation sign
              </p>
            </div>
          </div>

          <!-- Confirm Password -->
          <div class="form-floating mb-3">
            <input
              type="text"
              class="form-control"
              name="cnfPassword"
              id="cnfPassword"
              placeholder=""
              [formControl]="cnfPassword"
            />
            <label for="cnfPassword">Confirm Password:</label>

            <div *ngIf="cnfPassword.touched && cnfPassword.invalid">
              <p
                *ngIf="cnfPassword.hasError('cnfPasswordError')"
                class="alert alert-danger"
              >
                - Password and Confirm Password does not match
              </p>
            </div>
          </div>

          <!-- Languages Known : Form Array -->

          <div class="form-group mb-3">
            <button class="btn btn-success mb-2" (click)="addLanguage()">
              Add Language
            </button>

            <div formArrayName="languages">
              <div *ngFor="let lang of languages.controls; index as i">
                <div [formGroupName]="i">
                  <div class="row">
                    <div class="col-5">
                      <!-- language -->
                      <input
                        type="text"
                        placeholder="Language"
                        formControlName="name"
                        class="form-control"
                      />
                    </div>
                    <div class="col-5">
                      <!-- Experience -->
                      <input
                        type="text"
                        placeholder="Experience"
                        formControlName="experience"
                        class="form-control"
                      />
                    </div>
                    <div class="col-2">
                      <div class="d-grid">
                        <button
                          class="btn btn-outline-danger"
                          (click)="onDeleteLanguage(i)"
                        >
                          🗑️
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- button -->
          <div class="row">
            <div class="col-6">
              <!-- Login -->
              <div class="d-grid">
                <button
                  class="btn btn-primary"
                  [disabled]="!authForm.valid"
                  type="submit"
                >
                  Login
                </button>
              </div>
            </div>
            <!-- Register -->
            <div class="col-6">
              <div class="d-grid">
                <button
                  class="btn btn-secondary"
                  [disabled]="!authForm.valid"
                  type="submit"
                  (click)="onRegister()"
                >
                  Register
                </button>
              </div>
            </div>
          </div>

          <pre>Form Status : {{ authForm.status }}</pre>
        </form>
      </div>
    </div>
  </div>
</div>
