<div class="row">
  <div class="offset-2 col-8">
    <div class="card">
      <div class="card-header">
        <p class="display-4 text-center">Auth Form</p>
      </div>
      <div class="card-body">
        <form [formGroup]="authForm" (ngSubmit)="onLogin()">
          <!-- username -->
          <div class="form-floating mb-3">
            <input
              type="text"
              class="form-control"
              name="username"
              id="username"
              placeholder=""
              [formControl]="username"
            />
            <label for="username">Username:</label>
          </div>
          <!-- password -->
          <div class="form-floating mb-3">
            <input
              type="password"
              class="form-control"
              name="password"
              id="password"
              placeholder=""
              [formControl]="password"
            />
            <label for="password">Password:</label>
          </div>
          <!-- button -->
          <div class="row">
            <div class="col-6">
              <div class="d-grid">
                <button
                  class="btn btn-primary"
                  [disabled]="!authForm.valid"
                  type="submit"
                >
                  Login
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
