.ng-invalid.ng-dirty[name="body"] {
  border-left: 3px tomato solid;
}

.ng-valid.ng-dirty[name="body"] {
  border-left: 3px green solid;
}

.ng-invalid.ng-dirty[name="author"] {
  border-left: 3px tomato solid;
}

.ng-valid.ng-dirty[name="author"] {
  border-left: 3px green solid;
}
