<div class="my-4">
  <form (ngSubmit)="onSubmit(commentForm)" #commentForm="ngForm">
    <!-- Stars -->
    <div class="form-group mb-3">
      <label for="stars">Stars:</label>
      <select name="stars" class="form-control" ngModel #stars="ngModel">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
    </div>

    <!-- body -->

    <div class="form-group mb-3">
      <textarea
        name="body"
        class="form-control"
        rows="10"
        placeholder="Please write somthing here"
        ngModel
        required
        minlength="5"
        #body="ngModel"
      ></textarea>

      <div *ngIf="body.touched && body.errors">
        <div *ngIf="body.errors['required']">
          <p class="alert alert-danger">* Body is mandatory field</p>
        </div>
        <div *ngIf="body.errors['minlength']">
          <p class="alert alert-danger">
            * Body must have at least 5 character
          </p>
        </div>
      </div>
    </div>

    <!-- author : mandatory & email -->
    <div class="form-group mb-3">
      <input
        type="email"
        name="author"
        class="form-control"
        placeholder="Your email please"
        ngModel
        required
        email
        #author="ngModel"
      />
      <div *ngIf="author.touched && author.errors">
        <p *ngIf="author.errors['required']" class="alert alert-danger">
          *Author is mandatory field
        </p>
        <p *ngIf="author.errors['email']" class="alert alert-danger">
          *Author must be in email format
        </p>
      </div>
    </div>

    <!-- buttons -->
    <div class="row">
      <div class="col-6">
        <div class="d-grid">
          <button
            class="btn btn-primary"
            type="submit"
            [disabled]="!commentForm.valid"
          >
            Add Comment
          </button>
        </div>
      </div>
      <div class="col-6">
        <div class="d-grid">
          <button class="btn btn-light">Reset</button>
        </div>
      </div>
    </div>

    <!-- <pre>Form State : {{ commentForm.status }}</pre>
    <pre>Form Valid : {{ commentForm.valid }}</pre>
    <pre>Form error : {{ commentForm.errors }}</pre>
    <pre>Form Dirty : {{ commentForm.dirty }} </pre>
    <pre>Form Pristine : {{ commentForm.pristine }} </pre>
    <pre>Form touched : {{ commentForm.touched }} </pre>
    <pre>Form untouched : {{ commentForm.untouched }} </pre> -->
  </form>
</div>
